.box
{ 
width:10vw;
height:10vw;
float: left;
background-color: #000000;
border:2px solid #000;
outline: 1px dashed #fff;
outline-offset: -10px;
line-height: 10vw;
text-align: center;
color: white;
}
.boxclicked
{
background-color: #138496;	
}
.boxclickedwrong
{
background-color: #c82333;	
}

.status0
{
background-color: #000000;	
}
.status1
{
background-color: #218838;	
}

.gameOverBox
{
	text-align:center;
	animation: fadein 3s;
	font-size: 200%;
}

.gamefield
{
margin:auto;
width:50vw;
height:50vw;
}

@media only screen and (max-width:599px) {
.gamefield
{
width:80vw;
height:80vw;
}
.box
{
width:16vw;
height:16vw;	
}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
